.set-1 {
	background-color: $accent-color;
	color: $background-color;
	padding: 0.125em 0.33em;
	line-height: 1.8;
	&:hover {
    	color: darken($background-color, 20%);
  	}
}

.set-1-high {
	@extend .set-1;
	background-color: darken($accent-color, 15%);
}

.set-2 {
	@extend .set-1;
}
.set-3 {
	@extend .set-1;
}
.set-4 {
	@extend .set-1;
}
.set-5 {
	@extend .set-1;
}


#tag-cloud {
	padding: 0 0 1.5em 0;
}