---
layout: default
---

{% include page-intro.html %}
<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <p>
      {% for it in page.tags %}
      <a class="set-5" href="/tag/{{ it }}.html">{{ it }}</a>
      {% endfor %}
      </p>
      
      <div class="entry-content">
        {{ content }}
        <p style="text-align: center;">~~~</p>
        <p><i>Question, remark, bug? Don't hesitate to <a href="/about/">contact me</a> or <a href="https://github.com/RandomReaper/cli/issues" class="external">report a bug</a>.</i></p>
      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
  <!--<div id="tag-cloud">
  {{ site | tag_cloud }}
  </div>
  -->
  </div>

</main>
