---
layout: default
---
<div id="tag-cloud">
  {{ site | tag_cloud }}
  <h2 class="set-5">{{ page.tag }}</h2>
</div>
<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
    	 <div class="entry-content">
         {% capture desc %}{{ site.data.tags[page.tag] }}{% endcapture %}
         {{ desc | markdownify }}
         </div>
	</article>
</div>
</main>
<ul>
{% for post in page.posts %}
  <li>
        {% if post.tags contains "ximport" %}
          <a href="{{ post.url }}">{{ '' | append: post.title | append: '' | markdownify | remove: '<p>' | remove: '</p>'}}</a>
        {% elsif post.tags contains "xsuperseded" %}
          <a href="{{ post.url }}">{{ '~~' | append: post.title | append: '~~' | markdownify | remove: '<p>' | remove: '</p>'}}</a>
        {% else %}
          <a href="{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>'}}</a>
        {% endif %}
       - {{ post.date | date: "%Y-%m-%d" }} -
  	{% assign sorted = post.tags | sort %}
  	{% for it in sorted %}
      {% if it == page.tag %}
        <a class="set-1-high" href="/tag/{{ it }}.html">{{ it }}</a>
      {% else %}
        {% if it != "xsuperseded" %}
        <a class="set-1" href="/tag/{{ it }}.html">{{ it }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </li>
{% endfor %}
</ul>
